@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body, h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
}

header .header__body {
  height: 100%;
}

header .header__body__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .header__body__container .logo {
  padding-bottom: 8px;
}

header .header__body__container .logo img {
  width: 220px;
  height: 40px;
}

main form {
  max-width: 470px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main form h1 {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333;
  text-transform: none;
}

main form p {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 8px;
}

main form p span {
  font-weight: 700;
}

main form .colorSpan {
  color: #49505796;
}

main form .inputForm {
  position: relative;
  margin-bottom: 15px;
}

main form .inputForm p.error {
  font-size: 14px;
  line-height: 17px;
  color: #E43232;
  margin-top: 5px;
  margin-bottom: 5px;
}

main form .inputForm .discont {
  position: absolute;
  right: 9px;
  top: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background: #9FCEAC;
  border-radius: 20px;
  padding: 3px 11px;
}

main form .inputForm .error {
  font-size: 14px;
  line-height: 17px;
  color: #E43232;
  margin: 5px 0;
}

main form .oferta {
  margin: 10px 0 20px 0;
  position: relative;
  cursor: pointer;
  padding-left: 38px;
  line-height: 13px;
  display: inline-block;
}

main form .oferta .checkbox-text small {
  font-size: 11px;
  line-height: 13px;
  color: #444444;
}

main form .oferta::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 34px;
  border: 1px solid #808080;
  z-index: 1;
  border: 1px solid #BAC1C8;
  width: 21px;
  height: 21px;
  border-radius: 4px;
  background: #fff;
}

main form .oferta::after {
  content: '';
}

main form .oferta.active::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background: url("../img/checkbox.svg") top/cover no-repeat;
  top: 7px;
  left: 6px;
  z-index: 2;
}

main form .btm {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  padding: 0 38px;
  color: white;
  background-color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 50px !important;
  font-size: 22px;
  font-weight: 700;
}

main form .sicur {
  margin-top: 23px;
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

main form .sicur p {
  font-size: 12px;
  line-height: 15px;
  color: #444444;
}

main form .sicur img {
  margin-right: 10px;
  max-width: 30px;
  max-height: 30px;
}

footer {
  height: 843px;
}

footer .footer__body__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__body__container h3 {
  margin: 50px 0 0 0;
}

footer .footer__body__container p {
  margin: 70px 0 0 0;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  color: #20272B;
}
/*# sourceMappingURL=index.css.map */